*/config/development
*/logs/log-*.php
!*/logs/index.html

*/cache/*
!*/cache/index.html
!*/cache/.htaccess
!application/*/.htaccess

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

/vendor/
.DS_Store
composer.loc
/nbproject/
.idea/*
/tests/tests/
/tests/results/
